{% extends 'base.html' %}

{% block subtitle %}
    <h4>SGE - Entrada</h4>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h4 class="display-6 mt-4">Cadastrar nova Entrada</h4>
        <div class="card">
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Salvar Entrada</button>
                </form>
            </div>
        </div>
        <a href="{% url 'inflow_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para Lista</a>
    </div>
{% endblock %}
